

@media (min-width: 768px) {
  .SignUpCover {
    border: 1px solid red;
    width: 25%;
    margin-left: 37.5%;
  }

  .SignUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}